---
import Halo from '@layouts/components/Halo.astro';
import ImageMod from '@layouts/components/ImageMod.astro';
import { markdownify } from '@/utils/textConverter';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { Button, Feature } from '@/types';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

interface Homepage {
  banner: { title: string; content: string; image: string; button: Button };
  features: Feature[];
}

const homepage = (await getEntry('homepage', '-index')) as CollectionEntry<'homepage'>;
const { banner } = homepage.data as Homepage;
---

<BaseLayout title="Accueil – Mon Site">
  <section class="flex min-h-[70vh] items-center">
    <div class="container">
      <div class="grid grid-cols-1 lg:grid-cols-[auto_1fr] gap-4 items-center">
        <!-- COLONNE IMAGE -->
        <div class="relative order-2 lg:order-1 mx-auto lg:mx-0 w-96 h-96">
          <Halo />
          {
            banner.image && (
              <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-full h-full rounded-full overflow-hidden shadow-2xl">
                  <ImageMod
                    src={banner.image}
                    width={600}
                    height={600}
                    alt="Portrait de Jérémie"
                    format="webp"
                    class="object-cover w-full h-full"
                  />
                </div>
              </div>
            )
          }
        </div>

        <!-- COLONNE TEXTE -->
        <div
          class="order-1 lg:order-2
                 text-center lg:text-left
                 px-4 lg:px-[15%]"
        >
          <h1 set:html={markdownify(banner.title)} class="text-5xl font-bold" />
          <p set:html={markdownify(banner.content)} class="py-6" />
          {
            banner.button.enable && (
              <a
                href={banner.button.link}
                target={banner.button.link.startsWith('http') ? '_blank' : '_self'}
                rel="noopener"
                class="btn btn-primary"
              >
                {banner.button.label}
              </a>
            )
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
