---
import config from "@/config/siteConfig.ts";
import dateFormat from "@/utils/dateFormat";
import { humanize, plainify, slugify } from "@/utils/textConverter";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "@/components/common/ImageMod/ImageMod.astro";


const {
  summaryLength,
  blogFolder,
}: { summaryLength: number; blogFolder: string } = config.settings;


const { data } = Astro.props;

// Vérification que data existe et qu'il contient bien une propriété data
if (!data || !data.data) {
  throw new Error("BlogCard: Les données du blog sont manquantes. Vérifiez que vous passez bien une prop 'data' au composant.");
}

const { title, image, date, author, categories } = data.data;
---

<div class="card bg-base-100 w-96 shadow-sm">
 <figure>
  {image && (
    <ImageMod
      class="w-full"
      src={image}
      alt={title}
      width={445}
      height={230}
      format="webp"
    />
  )}
  </figure>

<!-- TODO: add author and tag -->

  <div class="card-body">
    <!-- Titre avec lien -->
    <h2 class="card-title">
      <a href={`/${blogFolder}/${data.id}`} class="link link-hover">
        {title}
      </a>
    </h2>

    <!-- Métadonnées -->
    <div class="flex flex-wrap items-center gap-4 text-sm opacity-70 mb-4">
      <!-- Auteur -->
      <div class="flex items-center gap-2">
        <FaRegUserCircle className="shrink-0" />
        <a href={`/authors/${slugify(author)}`} class="link link-hover">
          {humanize(author)}
        </a>
      </div>
      
      <!-- Catégories -->
      <!-- <div class="flex items-center gap-2"> -->
      <!--   <FaRegFolder className="shrink-0" /> -->
      <!--   <div class="flex flex-wrap gap-1"> -->
      <!--     {categories.map((category: string, index: number) => ( -->
      <!--       <> -->
      <!--         <a href={`/categories/${slugify(category)}`} class="link link-hover"> -->
      <!--           {humanize(category)} -->
      <!--         </a> -->
      <!--         {index !== categories.length - 1 && <span>,</span>} -->
      <!--       </> -->
      <!--     ))} -->
      <!--   </div> -->
      <!-- </div> -->


      <!-- Date -->
      {date && (
        <time datetime={date} class="flex items-center">
          {dateFormat(date)}
        </time>
      )}
    </div>

    <!-- Résumé -->
    <p class="text-base-content/80 mb-4">
      {plainify(data.body?.slice(0, Number(summaryLength)))}
    </p>

    <!-- Actions -->
    <div class="card-actions justify-end">
      <a href={`/${blogFolder}/${data.id}`} class="btn btn-primary">
        Lire la suite
      </a>
    </div>
  </div>
</div>
