---
// src/components/molecules/Pagination.astro
import PaginationItem from '@ui/atoms/PaginationItem.astro'
import ChevronLeftIcon from '@ui/atoms/icons/ChevronLeftIcon.astro'
import ChevronRightIcon from '@ui/atoms/icons/ChevronRightIcon.astro'

type NavLink = {
  href?: string
  label?: string
}

type PageLink = {
  n: number
  href?: string
  current?: boolean
  label?: string
}

interface Props {
  pages: PageLink[]
  prev?: NavLink
  next?: NavLink
}

const { pages, prev, next }: Props = Astro.props
const current = pages.find(p => p.current)?.n
---

<nav class="join" aria-label="Pagination">
  <PaginationItem
    {...prev?.href ? { href: prev.href } : { disabled: true }}
    label={prev?.label ?? 'Page précédente'}
    rel="prev"
  >
    <ChevronLeftIcon aria-hidden="true" />
  </PaginationItem>

  {
    pages.map(p =>
      p.current ? (
        <PaginationItem page={p.n} current label={p.label ?? `Page ${p.n}`} aria-current="page" />
      ) : (
        <PaginationItem
          page={p.n}
          href={p.href}
          label={p.label ?? `Aller à la page ${p.n}`}
          {...(current && p.n === current + 1 ? { rel: 'next' } : {})}
          {...(current && p.n === current - 1 ? { rel: 'prev' } : {})}
        />
      )
    )
  }

  <PaginationItem
    {...next?.href ? { href: next.href } : { disabled: true }}
    label={next?.label ?? 'Page suivante'}
    rel="next"
  >
    <ChevronRightIcon aria-hidden="true" />
  </PaginationItem>
</nav>
