---
import dateFormat from '@/utils/dateFormat'
import { humanize, markdownify, slugify } from '@/utils/textConverter'
import { render } from 'astro:content'
import { FaRegClock, FaRegFolder, FaRegUserCircle } from 'react-icons/fa'
import ImageMod from '@/components/ui/atoms/ImageMod.astro'

const { post } = Astro.props
const { Content } = await render(post)
const { title, author, categories, image, date, tags } = post.data
---

<section class="py-8">
  <article class="prose prose-lg dark:prose-invert mx-auto max-w-3xl">
    {
      image && (
        <figure class="not-prose mb-8">
          <ImageMod
            src={image}
            height={500}
            width={1200}
            alt={title}
            class="w-full rounded"
            format="webp"
          />
        </figure>
      )
    }
    <header class="not-prose mb-8">
      <h1 set:html={markdownify(title)} class="mb-4" />
      <ul class="flex flex-wrap items-center gap-x-4 text-sm text-gray-600 dark:text-gray-400">
        <li class="flex items-center">
          <FaRegUserCircle className={'-mt-0.5 mr-2 inline-block'} />
          <a href={`/authors/${slugify(author)}`}>{humanize(author)}</a>
        </li>
        <li class="flex items-center">
          <FaRegFolder className={'-mt-0.5 mr-2 inline-block'} />
          {
            categories.map((category: string, index: number) => (
              <a href={`/categories/${slugify(category)}`}>
                {humanize(category)}
                {index !== categories.length - 1 && ','}
              </a>
            ))
          }
        </li>
        <li class="flex items-center">
          <FaRegClock className={'-mt-0.5 mr-2 inline-block'} />
          {dateFormat(date)}
        </li>
      </ul>
    </header>
    <Content />
    {
      tags && (
        <div class="not-prose mt-10 flex flex-wrap items-center gap-2">
          <h5 class="mr-2">Tags :</h5>
          <ul class="flex flex-wrap gap-2">
            {tags.map((tag: string) => (
              <li>
                <a
                  class="bg-light hover:bg-primary dark:bg-darkmode-light dark:hover:bg-darkmode-primary m-1 inline-block rounded px-3 py-1 text-sm hover:text-white"
                  href={`/tags/${slugify(tag)}`}
                >
                  {humanize(tag)}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </article>
</section>
